body  {
    text-align: center;
    margin-top: 350px;
}
body .counter {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:underline;
    font-size: 60px;
}
body .one {
    display: inline-block;
    margin-right: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    border-radius: 25px;
    border-style: dotted;
    background-color: blue;
}
body .two {
    display: inline-block;
    margin-right: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    border-radius: 25px;
    border-style: dashed;
    background-color: red;
}
body .three {
    display: inline-block;
    margin-right: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    border-radius: 25px;
    border-style: ridge;
    background-color: greenyellow;
}
.one:hover {
    background-color: yellow;
    transition: all 2s;
}
.two:hover {
    background-color: aquamarine;
    transition: all 2s;
}
.three:hover {
    font-size: 40px;
    transition: all 2s;
}
.number {
    font-size: 67px;
    color: green;
}